--- 
layout: default 
title: Prodesk rise 
permalink: /rise/ 
active: rise 
---

<!-- {% include google_product_meta.html %} -->
{% assign prodesk = site.data.products.rise %}

<section class="section-with-gradien">
  <div class="container">

    <div class="p-t-100 p-b-100 sm-p-t-10 sm-p-b-40">
      <h1 class="light sm-no-margin text-center p-t-100">
        We are
        <span class="semi-bold">building</span> a new height adjustable standing desk!
      </h1>
      <div class="block-title text-center">Stand-up for the right reasons</div>

      {% include show_interest_form.html %}
    </div>
  </div>
</section>

<!-- <section>
  <div class="container">
    <div class="row sm-m-l-15 sm-m-r-15">
      <div class="col-md-6 col-middle">
        <img class="p-r-40 sm-m-b-20 xs-image-responsive-height sm-no-padding lazy img-responsive"
        src="{{ site.baseurl }}//assets/images/products/table-front-left-with-mon.png" alt="">
      </div>
      <div class="col-md-6">
        <h6 class="block-title">Built with the Best</h6>
        <p class="m-t-15">Using premium materials, making it lightweight, strong, water & termite proof.
          100% recyclable - because we care.
        </p>
        
        <h6 class="block-title m-t-40">Quick & Easy setup</h6>
        <p class="m-t-15">With just a few unfolds and adjustments, ProDesk comes to life in under 30 seconds and stands with you, ready to get working...</p>
        
        <h6 class="block-title m-t-40">Affordable</h6>
        <p class="m-t-15">Burn calories, not your pockets. At just <strong><i class="fa fa-inr"></i>{{prodesk.price}}</strong>*<strong>/-</strong>. <br/>
          ProDesk makes sure you get a better posture at a pocket friendly pricetag. <br/><small class="small-text"> * Excluding tax.</small>
        </p>
        
        <h6 class="block-title m-t-40">Make in India 🇮🇳 </h6>
        <p class="m-t-15">Because home is where the heart belongs</p>
        
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="p-b-50 p-t-50">
  <div class="container">
    <div class="swiper-container js-swiper-container">
      <div class="swiper-wrapper">
        {% for image in prodesk.images %}
        <div class="swiper-slide">
          <img data-src="./assets/images/products/{{image}}" class="swiper-lazy">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        {% endfor %}
      </div>
      <div class="js-swiper-button-next swiper-button-next swiper-button-black"></div>
      <div class="js-swiper-button-prev swiper-button-prev swiper-button-black"></div>
    </div>
  </div>
</section> -->