# Apache
.htaccess
.htpasswd

# Sass
.sass-cache
*.scssc

# Jekyll
_site
.jekyll-metadata

# Node.js
node_modules/

# Logfiles and tempfiles
*.log
/log/*
!/log/.keep
/tmp

# Firebase
functions/.runtimeconfig.json
old_functions/.runtimeconfig.json

# Build files
assets/css/
assets/js/
assets/images/
# _includes/critical.css

# Other unneeded files
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
