<form class="m-t-15 js-interest-order p-t-100 p-b-100 text-center">
    <h3 class="alert alert-success js-success bold text-success" style="display:none">
        Thanks you, We will let you know when its ready.
    </h3>
    <div class="alert alert-danger js-error text-warning bold" style="display:none">
        Something when wrong, Please try again later or mail us at
        <a target="_blank" href="mailto:{{ site.social.email }}">
            {{ site.social.email }}
        </a>
    </div>
    <div class="js-form-content p-t-10">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group form-group-default required form-group-lg">
                    <input type="email" name="email" class="form-control" placeholder="Email address" required>
                </div>
            </div>
        </div>
        <div class="p-t-10">
            <button type="submit" class="btn btn-lg btn-complete btn-rounded bold">Let me know when its ready</button>
        </div>
    </div>
</form>